---
layout: default
active-nav: firstpage
paginate_path: "/page:num"
---
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8" role="main">
    <h1 class="page-header">{{ site.title }}<small>技术自留地 + 娱乐仓库</small></h1>
    <!-- First Blog Post -->
    {% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a></h2>
    <p>
      <span class="glyphicon glyphicon-time"></span>
       Posted on {{ post.date | date: "%Y-%m-%d %H:%M:%S" }}
    </p>
    <hr>
    <p>{{ post.excerpt }}</p>
    <a class="btn btn-primary" href="{{ post.url | prepend:site.baseurl }}">
      Read More <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <hr>
    {% endfor %}

    <nav>
      <ul class="pager">
        {% if paginator.previous_page == null %}
        <li class="previous disabled">
          <a href="javascript:void(0)">
        {% else %}
        <li class="previous">
          {% if paginator.previous_page == 1 %}
          <a href="{{ '/' | prepend:site.baseurl }}">
          {% else %}
          <a href="{{ paginator.previous_page_path | prepend:site.baseurl }}">
          {% endif %}
        {% endif %}
            <span aria-hidden="true">&larr;</span> Older
          </a>
        </li>
        <li><a href="#">&uarr; Top &uarr;</a></li>
        {% if paginator.next_page == null %}
        <li class="next disabled">
          <a href="javascript:void(0)">
        {% else %}
        <li class="next">
          {% if paginator.next_page == 1 %}
          <a href="{{ '/' | prepend:site.baseurl }}">
          {% else %}
          <a href="{{ paginator.next_page_path | prepend:site.baseurl }}">
          {% endif %}
        {% endif %}
            Newer <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4" role="complementary">
    <div class="col-md-3" data-spy="affix">
      <!-- Blog Hottest Well -->
      <div class="well">
        <h3>重点推荐</h3>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
            {% for hotpost in site.categories.hot %}
              <li><a href="{{ hotpost.url | prepend:site.baseurl }}" class="btn btn-link">{{ hotpost.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Side Widget Well -->
      <div class="well">
        {% include author.html %}
      </div>
    </div>
  </div>

</div>

