<h3>相关</h3>
<div class="row">
  <div class="col-lg-12">
  <ul class="list-unstyled">
    <li>
      <a href="{{ site.github_main }}" class="btn btn-link btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Github主页
      </a>
    </li>
    <li>
      <a href="{{ site.github_project }}" class="btn btn-link btn-lg">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>项目主页
      </a>
    </li>
    <li>
      <a href="{{ '/zipball/gh-pages' | prepend:site.github_project }}" class="btn btn-link btn-lg">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>博客代码下载
      </a>
    </li>
    <li>
      <a href="{{ '/about' | prepend:site.baseurl }}" class="btn btn-link btn-lg">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>联系作者
      </a>
    </li>
  </ul>
  </div>
</div>
